root = true

[*]
charset = utf-8
end_of_line = lf

[{*.kt,*.kts}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
indent_size = 4
indent_style = space
max_line_length = 200
trim_trailing_whitespace = true